UserApplicationSystem/Connected Services/UserMemberService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserMembersService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserMembersService_AddMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMember" />
  </wsdl:message>
  <wsdl:message name="IUserMembersService_AddMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMembersService_GetMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMembers" />
  </wsdl:message>
  <wsdl:message name="IUserMembersService_GetMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserMembersService">
    <wsdl:operation name="AddMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMembersService/AddMember" message="tns:IUserMembersService_AddMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMembersService/AddMemberResponse" message="tns:IUserMembersService_AddMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMembersService/GetMembers" message="tns:IUserMembersService_GetMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMembersService/GetMembersResponse" message="tns:IUserMembersService_GetMembers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserMembersService" type="tns:IUserMembersService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMember">
      <soap:operation soapAction="http://tempuri.org/IUserMembersService/AddMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <soap:operation soapAction="http://tempuri.org/IUserMembersService/GetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserMembersService">
    <wsdl:port name="BasicHttpBinding_IUserMembersService" binding="tns:BasicHttpBinding_IUserMembersService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/UserApplicationSystem.Services/UserMembersService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>