UserApplicationSystem/Connected Services/UserMemberService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" />
  <xs:element name="AddMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" minOccurs="0" name="member" nillable="true" type="q1:UserMembersData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" minOccurs="0" name="AddMemberResult" nillable="true" type="q2:ResponseMessageDataOfUserMembersDatajbgNRuBV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" minOccurs="0" name="GetMembersResult" nillable="true" type="q3:ResponseMessageDataOfArrayOfUserMembersDatajbgNRuBV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>