UserApplicationSystem/Connected Services/UserMemberService/UserApplicationSystem.Services.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserMembersData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dob" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberId" type="xs:int" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelationsList" nillable="true" type="tns:ArrayOfRelationsData" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMembersData" nillable="true" type="tns:UserMembersData" />
  <xs:complexType name="ArrayOfRelationsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelationsData" nillable="true" type="tns:RelationsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelationsData" nillable="true" type="tns:ArrayOfRelationsData" />
  <xs:complexType name="RelationsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="RelationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelativeId" type="xs:int" />
      <xs:element minOccurs="0" name="RelativeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReverseRelationType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelationsData" nillable="true" type="tns:RelationsData" />
  <xs:complexType name="ResponseMessageDataOfUserMembersDatajbgNRuBV">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseMessageDataOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserMembersData" Namespace="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:UserMembersData" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessageDataOfUserMembersDatajbgNRuBV" nillable="true" type="tns:ResponseMessageDataOfUserMembersDatajbgNRuBV" />
  <xs:complexType name="ResponseMessageDataOfArrayOfUserMembersDatajbgNRuBV">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseMessageDataOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfUserMembersData" Namespace="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfUserMembersData" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessageDataOfArrayOfUserMembersDatajbgNRuBV" nillable="true" type="tns:ResponseMessageDataOfArrayOfUserMembersDatajbgNRuBV" />
  <xs:complexType name="ArrayOfUserMembersData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserMembersData" nillable="true" type="tns:UserMembersData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserMembersData" nillable="true" type="tns:ArrayOfUserMembersData" />
</xs:schema>