UserApplicationSystem/Connected Services/UserApplicationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" />
  <xs:element name="GenerateApplicationToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" minOccurs="0" name="user" nillable="true" type="q1:UserAccessData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateApplicationTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" minOccurs="0" name="GenerateApplicationTokenResult" nillable="true" type="q2:ResponseMessageDataOfUserApplicationDatajbgNRuBV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" minOccurs="0" name="GetApplicationStatusResult" nillable="true" type="q3:ResponseMessageDataOfUserApplicationDatajbgNRuBV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>