UserApplicationSystem/Connected Services/UserAccessService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserAccessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/UserApplicationSystem.Services.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserAccessService_GetSignupInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSignupInfo" />
  </wsdl:message>
  <wsdl:message name="IUserAccessService_GetSignupInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSignupInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserAccessService_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IUserAccessService_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserAccessService">
    <wsdl:operation name="GetSignupInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAccessService/GetSignupInfo" message="tns:IUserAccessService_GetSignupInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAccessService/GetSignupInfoResponse" message="tns:IUserAccessService_GetSignupInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAccessService/AuthenticateUser" message="tns:IUserAccessService_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAccessService/AuthenticateUserResponse" message="tns:IUserAccessService_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserAccessService" type="tns:IUserAccessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSignupInfo">
      <soap:operation soapAction="http://tempuri.org/IUserAccessService/GetSignupInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IUserAccessService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserAccessService">
    <wsdl:port name="BasicHttpBinding_IUserAccessService" binding="tns:BasicHttpBinding_IUserAccessService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/UserApplicationSystem.Services/Service1/UserAccessService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>